@import "styles/grid";

/* ==========================================================================
  Column
========================================================================== */

.align-center {
  text-align: center !important;
}

.noPadding {
  padding: 0 !important;
}

.noPaddingRight {
  padding-right: 0 !important;
}

.noMargin {
  margin: 0 !important;
}
