/* stylelint-disable no-duplicate-selectors */

/* ==========================================================================
  Grid Gutters
========================================================================== */

$grid-gutter-sm: 10px !default;
$grid-gutter-sm: 15px !default;
$grid-gutter-md: 20px !default;
$grid-gutter-lg: 20px !default;
$grid-spacing: 20px;

/* ==========================================================================
  Colors
========================================================================== */

$primary-black: #000;
$primary-white: #fff;
$primary-gray: gray;
$secondary-gray: #a9a9a9;
$primary-red: #d22030;

/* ==========================================================================
  Animations
========================================================================== */

$default-timing: 0.2s;

/* ==========================================================================
  Typography
========================================================================== */

$browser-context: 16px;
$small-text: 14px;
$large-text: 18px;

/* ==========================================================================
  Layout
========================================================================== */

$micro: 8px;
$tiny: 16px;
$small: 24px;
$medium: 40px;
$large: 64px;
$xl: 104px;
$xxl: 168px;
$xl3: 264px;
$xl4: 424px;
$xl5: 680px;
$xl6: 1088px;

/* ==========================================================================
  Body Padding
========================================================================== */

$body-padding-bottom-xs: $medium;
$body-padding-bottom-md: $large;

/* ==========================================================================
  Popup
========================================================================== */

$popup-width-xs: $xl3;
$popup-height-xs: $xl4;
$popup-width-sm: $xl3;
$popup-height-sm: $xl4;
$popup-width-md: $xl5;
$popup-height-md: $xl4;
$popup-width-lg: $xl6;
$popup-height-lg: $xl5;
