{
  "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
  "plugins": [
    ["babel-plugin-root-import", { "rootPathSuffix": "client" }],
    ["transform-class-properties"]
  ]
}
