@import "styles/variables";
@import "styles/grid";
@import "styles/mixins/elements";
@import "styles/mixins/scrollbar";

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: $popup-width-xs;
  height: $popup-height-xs;
  z-index: 999;
  margin: auto;
  transform: translateY(-200%);
  display: flex;
  visibility: hidden;
  background-color: $primary-red;
  transition: transform 0.8s, visibility 0.8s;

  @include media("md") {
    width: $popup-width-md;
    height: $popup-height-md;
  }

  &.large {
    @include media("lg") {
      width: $popup-width-lg;
      height: $popup-height-lg;
      overflow-y: scroll;
      padding: $large 0;
      align-items: flex-start;
    }
  }

  &.show {
    transform: translateY(0%);
    visibility: visible;
  }

  .close {
    @include close;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  display: none;
  opacity: 0.5;
  background-color: $primary-black;

  &.show {
    display: block !important;
  }
}

.popup_inner {
  width: 100%;
  padding: $tiny 0;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    width: 100%;
  }

  p {
    color: $primary-white;
  }
}
