@import "styles/variables";
@import "styles/mixins/elements";

$width: 16px;
$height: 16px;

.action {
  width: $width !important;
  height: $height !important;

  &.close {
    @include close($primary-bright-red);

    top: 4px !important;
    right: 2px !important;

    &::before,
    &::after {
      left: 8px;
      width: 2px;
      height: $height;
    }
  }

  > div,
  i,
  svg {
    pointer-events: none;
  }

  svg {
    width: $width !important;
    height: $height !important;
  }
}
