@import "styles/variables";

/* ==========================================================================
  Header
========================================================================== */

header {
  background-color: $primary-red;
}

.url {
  padding-right: 50px;
  color: var(--color-black);
}

.url:hover {
  color: var(--color-black);
}
