@import "styles/variables";
@import "styles/grid";

/* ==========================================================================
  Header
========================================================================== */

header {
  padding-bottom: $medium;
  background-color: $primary-red;

  .logo {
    text-align: center;

    > a img {
      width: $large;

      @include media("md") {
        width: $xl;
      }
    }
  }

  .url {
    text-align: center;

    a {
      padding: 0 $medium;
    }
  }
}
