@import "styles/variables";
@import "styles/grid";
@import "styles/mixins/typography";

.item {
  padding: 0 $small;

  @include media("md") {
    padding: 0 $xl;
  }

  .buttons {
    margin-top: $medium;
    display: flex;
    justify-content: space-around;

    @include media("xs") {
      flex-direction: column;
      text-align: center;

      > div:not(:last-of-type) {
        padding-bottom: $small;
      }
    }
  }

  .subtitle {
    padding: $small 0 $medium;
    font-size: $s1-font-size-xs;
    font-weight: 300;
    font-style: normal;
  }
}
