@import "styles/variables";
@import "styles/grid";

/* ==========================================================================
  SVG Icon
========================================================================== */

.svg-default,
.svg-hover {
  display: inline-block;
}

.svg-default {
  display: block;
}

.svg-hover {
  display: none;
}

.i {
  svg {
    width: 100%;
  }
}

i.selected {
  .svg-default {
    display: none;
  }

  .svg-hover {
    display: block;
  }
}

i:hover {
  @include media("lg") {
    .svg-default {
      display: none;
    }

    .svg-hover {
      display: block;
    }
  }
}
