@import "styles/grid";
@import "styles/mixins/scrollbar";

.list-wrapper {
  @include media("md") {
    overflow: hidden;
  }

  .list {
    width: 100%;
    margin: $tiny 0;
    padding: 0;
    list-style: none;
    text-align: left;

    @include media("md") {
      height: 182px;
      overflow-y: scroll;
      margin: $micro 0;
      padding: 0 $tiny;
      text-align: center;

      @include scrollbar;
    }

    li {
      padding: 2px 0;
      display: inline-block;
      color: $primary-gray;
      font-size: $small-text;
      text-transform: capitalize;

      @include media("md") {
        display: block;
      }
    }

    li:not(:last-of-type) {
      &::after {
        content: ", ";
        white-space: pre;
      }

      @include media("md") {
        border-bottom: 1px solid $section-gray;

        &::after {
          content: "";
        }
      }
    }
  }
}
