@import "styles/grid";

@mixin close($color: $primary-white) {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 12px;

  @include media("md") {
    top: 16px;
    right: 16px;
    width: 20px;
  }

  height: 24px;
  cursor: pointer;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    left: 8px;
    width: 2px;
    height: 16px;

    @include media("md") {
      height: 24px;
    }

    background-color: $color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
