@import "styles/variables";

.table {
  width: 100%;
  font-size: $small-text;

  tr {
    td {
      padding: 4px 0;

      &:nth-of-type(odd) {
        text-align: left;
      }

      &:nth-of-type(even) {
        text-align: right;
      }

      &:not(.bold) {
        color: $primary-gray;
      }

      &.bold {
        font-weight: 600;
      }

      &.bottom {
        padding: 0;
        padding-top: $small;
      }
    }
  }
}
