@import "styles/variables";
@import "styles/grid";
@import "styles/mixins/typography";

.title {
  margin: 0 auto $micro;
  font-size: $h3-font-size-xs;
  font-weight: 900;
  text-align: left;
  line-height: 20px;

  @include media("md") {
    text-align: center;

    @include truncate(170px);
  }
}
