@import "styles/variables";
@import "styles/grid";

$height-collapsible-xs: 260px;
$height-collapsible-large-xs: 250px;
$height-collapsible-md: 260px;
$height-collapsible-large-md: 290px;
$height-collapsible-item: 40px;

.collapsible {
  height: $height-collapsible-item;
  overflow: hidden;
  border-top: 1px solid $primary-gray;
  transition: height 0.8s;

  &.open {
    height: $height-collapsible-xs;

    @include media("md") {
      height: $height-collapsible-md;
    }
  }

  .collapsible-item {
    height: $height-collapsible-item;
    padding: $micro;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .title {
    font-size: $small-text;
    pointer-events: none;
  }

  .icon {
    margin-left: $micro;
    display: block;
    pointer-events: none;

    svg {
      width: 4px;
      height: 16px;
    }
  }

  .list ul {
    max-height: $height-collapsible-xs - $height-collapsible-item;
    margin: 0;

    @include media("md") {
      max-height: $height-collapsible-md - $height-collapsible-item;
    }

    li {
      border-bottom: none !important;
    }
  }
}

.cardWithoutTitle {
  &:nth-of-type(2) {
    height: calc(#{$height-collapsible-item} - 1px);
    border: none;

    .collapsible-item {
      margin-bottom: $micro;
      border-bottom: 1px solid $primary-gray;
    }
  }

  &.open {
    height: $height-collapsible-large-xs;

    @include media("md") {
      height: $height-collapsible-large-md;
    }
  }

  .list ul {
    max-height: $height-collapsible-large-xs;
    margin: 0;

    @include media("md") {
      max-height: $height-collapsible-large-md;
    }
  }
}
