@import "styles/variables";
@import "styles/grid";
@import "styles/mixins/typography";

.card {
  position: relative;
  width: $card-width-xs;
  margin: 0 auto;
  margin-top: $medium;
  padding: $tiny;
  border: 2px solid $primary-white;
  border-radius: 10px;

  @include media("md") {
    width: $card-width-md;
    height: $card-height-md;

    &.small {
      width: $card-width-small-md;
      height: $card-height-small-md;

      .title {
        @include notTruncated;

        min-height: $medium;
      }
    }

    &.medium {
      width: $card-width-medium-md;
      height: $card-height-medium-md;

      .title {
        @include notTruncated;

        height: 34px;
      }
    }

    &.large {
      width: $card-width-large-md;
      height: $card-height-large-md;
    }
  }

  .checkboxContainer {
    padding-left: $small !important;
  }

  .call-to-action-wrapper {
    @include media("md") {
      position: absolute;
      bottom: $tiny;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.corner {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 22px;
  height: 26px;
  background-color: $primary-black;
  border-radius: 0;

  &.transparent {
    top: -16px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: $primary-bright-red;
  }
}

.flipper-wrapper {
  width: $card-width-xs;
  height: calc(#{$card-height-large-md} + #{$medium});
  margin: 0 auto;
  transform-style: preserve-3d;
  perspective: 1000px;

  @include media("md") {
    width: $card-width-large-md;
  }

  .flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
  }

  .front-corner,
  .back-corner,
  .front,
  .back {
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    visibility: visible;
    transition: all 0.6s, opacity 0ms 0.3s;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: $card-width-xs;
    height: $card-height-large-md;

    @include media("md") {
      width: $card-width-large-md;
    }
  }

  .front,
  .front-corner {
    z-index: 2;
    transform: rotateY(0deg);
    opacity: 1;
  }

  .back,
  .back-corner {
    transform: rotateY(180deg);
    opacity: 0;
  }

  .front-corner {
    top: 30px;
    right: -10px;
    z-index: 3;
    cursor: pointer;
  }

  .back-corner {
    top: 30px;
    right: -8px;
    z-index: 2;
    cursor: pointer;
  }

  &.flipped {
    .front,
    .front-corner {
      transform: rotateY(-180deg);
      opacity: 0;
    }

    .back,
    .back-corner {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
}
